.blog-block {
    background-color: white;
    padding: 50px;
}

.bc-heading {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.blog-blocks {
    padding: 30px;
    background: white;
    margin-bottom: 30px;
}

.bl-heading {
    font-size: 30px;
    font-weight: 700;
}

.bl-credits {
    margin-bottom: 10px;
}

.bl-readmore {
    background: none;
    border: none;
    color: blue;
}

.bl-readmore:hover {
    color: black;
    cursor: pointer;
}

red-color {
    color: red;
}