.mindmap-blocks {
    padding: 30px;
    background: white;
    margin-bottom: 30px;
    display: flex;
}

.mindmap-block{
    background-color: white;
    padding: 50px;
}

.mmm-heading{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.mmm-mindmap{
    width:100%;
}

.mm-logo img {
    width: 100px;
    height: 100px;
}

.mm-info {
    margin-left: 30px;
}

.mm-heading {
    font-size: 30px;
    font-weight: 700;
}

.mm-credits{
    margin-bottom: 10px;
}

.mm-view {
    background: none;
    border: none;
    color: blue;
}