.nav {
    width: 100%;
}

.nav ul {
    padding: 16px 0;
    margin: 0;
}

.nav-top {
    width: 100%;
    text-align: center;
    font-family: 'Smooch', cursive;
    /* font-family: 'Macondo', cursive; */
    padding: 0;
    background: #ecf0f4e2;
}

.nav-top h1 {
    margin: 0;
    cursor: pointer;
}

.nav-bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 5px;
    background: #f8f9fae2;
}

.nav-links {
    margin: 0 20px;
    list-style-type: none;
    text-align: center;
}

.nav-links {
    text-decoration: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.nav-links:hover {
    color: cyan;
    transition-duration: 1s;
}

.temp {
    color: black;
}